@media all and (max-width: 1280px){
    body{
        width: 100%;
    }
}
@media all and (max-width: 1140px)
{
    body{
        width: 100%;}
    .header__menu{
        flex-direction: column;
    }

}
@media all and (min-width: 992px) {
    body{
        width: 100%;
    }
}
@media all and (min-width: 1280px){
    body{
        width: 100%;
    }
}
