
.container_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    background: #408fc2;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 62px;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
}

.container_main a {
    text-decoration: none;
    color: white;
}

.main_service {
    position: relative;
    display: inline-block;
}


.service_visibility {
    visibility: hidden;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;


}

.container_main_service:hover .service_visibility {
    display: block;
    visibility: visible;
    position: absolute;
    top: 60px;
    background: #408fc2;

}
.container_main_a:hover {
    color: #fffffe;
    background: #f1040b;
}

.container_main_a {
    display: block;
    padding: 13px 25px 16px;
    border-top: 6px solid transparent;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}


li {
    list-style-type: none;
    text-align: center;

}
ul{
    margin-left: 0;
    padding-left: 0;
}
